In [1]:
import pandas as pd
import numpy as np

In [36]:
tab = pd.read_csv(f'/work/bb1152/u290372/GKLT/wEU.TREFHT.05-31.5x18.ssp370-2025.k0p03.s10000/book_keeping/step0_evaluation.csv')

In [37]:
tab

     Unnamed: 0 case_identifier  observable mean     score    weight  copies
0             0         c10_000        16.595203  1.645190  0.987069       1
1             1         c10_001        15.309834  1.582958  0.949732       1
2             2         c10_002        16.022593  1.617170  0.970258       1
3             3         c10_003        13.869192  1.516001  0.909559       1
4             4         c10_004        17.821136  1.706824  1.024048       1
..          ...             ...              ...       ...       ...     ...
121         121         c10_121        17.838118  1.707693  1.024570       1
122         122         c10_122        19.430103  1.791231  1.074690       1
123         123         c10_123        14.512250  1.545531  0.927277       0
124         124         c10_124        16.808231  1.655738  0.993398       1
125         125         c10_125        22.513281  1.964816  1.178836       1

[126 rows x 6 columns]

In [40]:
score = np.exp((tab['observable mean'] * 5) * 0.03)

In [41]:
score / score.mean()

0      0.902388
1      0.744147
2      0.828115
3      0.599528
4      1.084565
         ...
121    1.087331
122    1.380608
123    0.660239
124    0.931688
125    2.192408
Name: observable mean, Length: 126, dtype: float64

In [20]:
np.exp(tab['observable mean']) * 0.03

0      1.367452e+07
1      1.369844e+07
2      3.302124e+07
3      1.724035e+07
4      9.013329e+06
           ...
121    8.819768e+07
122    2.845688e+08
123    1.667262e+08
124    1.524652e+08
125    1.527979e+08
Name: observable mean, Length: 126, dtype: float64

In [19]:
w / w.mean()

0      0.937172
1      0.996046
2      0.996179
3      0.970015
4      1.005064
         ...
121    1.058643
122    1.059058
123    1.063362
124    1.062961
125    1.064830
Name: observable mean, Length: 126, dtype: float64